[Unit]
Description=Run `docker` services of Nextcloud: 30 Seconds After Startup

[Service]
Type=simple
ExecStartPre=/bin/sleep 30
ExecStart=docker compose -f /home/pi/linux-scripts/rpi/scripts/docker-compose.yml start
Restart=no
User=pi

[Install]
WantedBy=multi-user.target

